In [2]:
from pathlib import Path
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
# Import checkpoint dependencies
import os
data = Path('../Final/Clean_Income.csv')
df = pd.read_csv(data)
df.head()

,protocol id,series_ref,quarter,expenditures,groups,index,quarterly,annually,year,ID
0,All households,HPIQ.SALL01,1,Food,group,1034,1.3,1.2,2019,39
1,All households,HPIQ.SALL01,2,Food,group,1038,0.4,1.0,2019,40
2,All households,HPIQ.SALL01,3,Food,group,1052,1.3,1.6,2019,41
3,All households,HPIQ.SALL01,4,Food,group,1047,-0.5,2.5,2019,42
4,All households,HPIQ.SALL011,1,Fruit and vegetables,subgroup,1048,5.6,-2.3,2019,93

In [3]:
df= df.drop(['protocol id', 'series_ref','expenditures','groups'], axis=1)

In [4]:
df.dtypes

quarter        int64
index          int64
quarterly    float64
annually     float64
year           int64
ID             int64
dtype: object

In [5]:
#split x/y variables
y = df["index"]
X = df.drop(columns="index")

In [6]:
df = df[df['index'] == 3]

In [7]:
# # Determine which values to replace if counts are less than ...?
# df = list(df[df < 3].index)

# # Replace in dataframe
# for i in df:
#     df.index = df.index.drop(i)
    
# # Check to make sure binning was successful
# df.index.value_counts()

In [8]:
#split into training and test set(larger set is training set)
# X_train, x_test, y_train, y_test = train_test_split(X,y, random_state=1,stratify=y)
X_train, x_test, y_train, y_test = train_test_split(X,y,test_size=0.33, random_state=42)
X_train.shape

(8582, 5)

In [9]:
#predict method, giving x_test variable as an argument
classifier = LogisticRegression(solver='lbfgs', max_iter=200, random_state=1)

In [10]:
classifier.fit(X_train, y_train)

C:\Users\eric\anaconda3\envs\PythonData\lib\site-packages\sklearn\linear_model\_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression(max_iter=200, random_state=1)

In [11]:
#predictions
y_pred = classifier.predict(x_test)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head(20)

    Prediction  Actual
0         1033    1003
1         1082    1651
2         1033     917
3         1033    1181
4         1033    1021
5         1033    1237
6         1033     949
7         1082    1024
8         1088    1202
9         1082    1054
10        1082    1053
11        1033     486
12        1082    1053
13        1033    1075
14        1033    1073
15        1033    1089
16        1033    1098
17        1033    1024
18        1082     344
19        1082     944

In [12]:
#percentage results
print(accuracy_score(y_test, y_pred))

0.00402081362346263